.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.largeNavLink {
  font-size: 1.375rem;
  margin-bottom: 2rem;
}

.socialLinkList {
  display: flex;
  flex-direction: row;
}

.socialLinkList i {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
