body {
  font-family: Futura, sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

.visuallyHidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
