body {
  font-family: Futura, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

.visuallyHidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.containerGrid {
  display: grid;
  grid-template-columns: auto;
  padding: 25px;
}

@media (min-width: 768px) and (orientation: landscape) {
  .containerGrid {
    grid-template-columns: 30% 70%;
  }
}

@media (min-width: 1024px) {
  .containerGrid {
    grid-template-columns: 25% 75%;
  }
}

.footer {
  margin-top: auto;
  font-size: 0.8rem;
  padding: 25px;
}
